#custom-toggl {
  padding-left: 8px;
  padding-right: 8px;
  color: #79a9a3;
  border-bottom: 2px solid #79a9a3;
  font-weight: 600;
}

#custom-toggl.running {
  color: #79a9a3;
  border-bottom-color: #79a9a3;
}

#custom-toggl.idle {
  color: #79a9a3;
}

#custom-toggl.stale {
  color: #d6a84f;
  border-bottom-color: #d6a84f;
}

#custom-toggl.offline {
  color: #937a5c;
  border-bottom-color: #937a5c;
}
